#fast-order-articles {
  z-index: 1000;
  position: relative;
  box-shadow: 0 10px 25px -15px #000;

  ul {
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    width: 100%;
    list-style: none;
    position: absolute;
    border: thin solid #000;
    background-color: #fff;

    li {
      width: 100%;
      background: #fff;
      padding-left: 1rem;
      padding-right: 1rem;
      border-bottom: thin solid #000;

      a:link {
        color: #000;
      }

      a:hover {
        text-decoration: none;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}
